<div class="row">
    <div class="col-xs-12 col-lg-2 col-sm-2 col-md-2 ">
        <img src="../../../assets/perfil.jpg" class="img-fluid" id="foto_perfil">
    </div>
    <div class="col-xs-12 col-lg-3 col-sm-3 col-md-3">
        <p id="nombre">Marcelo J. Mirabile</p>
        <p id="fnacimiento">Fecha Nacimiento: 28/07/1976</p>
        <p id="estadocivil">Estado Civil: casado</p>
        <p id="domicilio">Domicilio: Guaymallen - Mendoza - Argentina</p>
        <p id="titulo_profesional">Ing. en Sistemas de Información</p>
    </div>
    <div class="col-xs-12 col-lg-7 col-sm-7 col-md-7">
        <h1> -- Mi Información --</h1>
        
        <span>Soy desarrollador Full Stack, y me desempeño en el Instituto Nacional de Vitivinicultura. 
            Ademas de ello tambien soy profesor de la catedra de Programacion en el 
            Instituto Tecnologico Universitario de la Universidad Nacional de Cuyo</span>
    </div>
</div>