<div class="row">
    <h4>Formación Academica</h4>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li class="lista">
                <h4>Nivel Secundario</h4> - <h6>(egresado en 1994)</h6>
                <ul >
                    <li class="sub_lista">
                        Titulo: 
                        <p class="p_educacion">
                            Bachiller
                        </p>
                    </li>
                    <li class="sub_lista">
                        Colegio: 
                        <p class="p_educacion">
                            4-080 Tres Porteñas
                        </p>
                    </li>
                    <li class="sub_lista">
                        Domicilio: 
                        <p class="p_educacion">
                            Avda. Libertador s/n – Tres Porteñas – San Martin.
                        </p>
                    </li>
                    <li class="sub_lista">
                        Meritos: 
                        <p class="p_educacion">
                            Primer Escolta año 1994 - Mejor Egresado del año 1994
                        </p>
                    </li>
                </ul>
            </li>
            <li class="lista">
                <h4>Nivel Universitario</h4> - <h6>(fecha ultimo examen 15/12/2004)</h6>
                <ul >
                    <li class="sub_lista">
                        Titulo: 
                        <p class="p_educacion">
                            Ingeniero en Sistemas de Información
                        </p>
                    </li>
                    <li class="sub_lista">
                        Universidad: 
                        <p class="p_educacion">
                            Universidad Tecnológica Nacional (F.R.M.)
                        </p>
                    </li>
                    <li class="sub_lista">
                        Domicilio: 
                        <p class="p_educacion">
                            Rodríguez y Sobremonte – Capital - Mendoza.
                        </p>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</div>